/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

#main{
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
    align-items:center;
    flex-wrap: wrap;
    width: auto;
}
img{
    margin: 5px 2px;
    padding-top: 3px;
    display: block;
}
div{
    height: 315px;
    width: 1000px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 5px 5px;
    background-color: rgb(247, 243, 243);
    transition: 0.5s ease-in-out;
}
h1{
    font-size: xx-large;
    font-weight: bold;
    padding-left: 30px;
}
#searchForm{
    height: 60px;
    display: flex;
    flex-direction: row;
}
#input{
    margin-top: 10px;
}
#searchButton{
    margin: 10px 0 0 10px ;
}
h4{
    width: 600px;
    margin-right: 80%;
    margin-block: 1rem;
    text-align: center;
    font-size: x-large;
    text-align: left;
    padding-left: 30px;
    font-family: 'Barlow Condensed', sans-serif;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.contaain{
    background-color: wheat;
}
div:hover{
    background-color:rgb(223, 219, 219) ;
}
span{
    margin-left: 30px;
    height: 30px;
    font-size: 700;
}
a{
    margin-left: 30px;
}
@media(max-width:450px){
    .intro{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 650px;
        width: 350px;
    }
    img{
        padding-left: 70px;
    }
    nav h1{
        text-align: center;
    }
    
    #searchForm{
        display: flex;
        flex-direction: row;
    }
}
@media(min-width:1024px){
   #searchForm{
       margin-left: 300px;
   }
}